
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');



:root {
    --primary-color:
    --secondary-color:
    --white-color: #fff;
    --black-color: #3f3b51;
}

.body{
    font-family: 'Roboto' sans-serif;
}

.section{
    height: 100vh;
}

.menu_wrapper{
    background-color: var(--white-color);
    padding: 15px 0;
}

.menu_wrapper .navbar-brand img{
    width: 300px;

}

/* Mega Menu */

.dropdown-mega .dropdown-menu{
    width: 100%;
}

.dropdown-mega .h5{
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0, .125);
    margin: 0;
}

.dropdown-mega .list-group-item{
    font-size: 1rem;
    color: var(--black-color);
    border: 0;
    border-bottom: 1px solid rgba(0,0,0, .125);
    padding: 12px 0;
}

.dropdown-mega .list-group-item:hover{
    color: var(--primary-color);
}

/* Responsive */

@media (max-width: 991px){
    .menu_wrapper .navbar-brand img{
        width: 120px;
    }
    .navbar-collapse{
        padding-top: 25px;
    }
    .navbar-nav .nav-item{
        margin: 5px 10px;
    }

    form{
        margin: 30px 0;
    }
}