
@font-face {
    font-family: Archive;
    src: url(../fonts/Archive.woff);
  }

:root {
    --primary-color:
    --secondary-color:
    --white-color: #fff;
    --black-color: #3f3b51;
}

,body{
    font-family: 'Roboto, sans-serif';
}


.section{
    height: 100vh;
}

.menu_wrapper{
    font-size: 1rem;
    background-color: var(--white-color);
    padding: 0px 0;
}

.menu_wrapper .navbar-brand img{
    width: 300px;

}
/* Estilos de Secciones */
#title {
    font: 'Arial';
    background-color: white;
    text-align: center;
}
.header-image{
    object-fit: cover;
    width:100%;

}

/* Estilos de Texto */

.page-h1{
    font-family: 'Encode-Sans, sans-serif';  
    font-size: 30rem;  
    line-height: 1.5;  
    font-weight: 900;
}

h1 {
    font-family: Archive;
    font-size: 2.4rem;
    line-height: 1;
    color: #2d4a62;
}

h2 {
    font-family: Archive;
    font-size: 2rem;
    line-height: 1;
    color: #2d4a62;
}


.header-image{
    height: 400px; 
    object-fit: cover; 
    object-position: 50% 30%; 
    border-radius: 25px;  
    border: 5px solid #34b4fc;"
    position: relative;
    filter: brightness(60%);
    padding: 4px;
}

.image-text-center{
        color:white;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
}

/* Mega Menu */

.nav-link{
    font-family: Archive;
    font-size: 1rem;
    color: #34b4fc;
}

.dropdown-mega .dropdown-menu{
    width: 100%;
}

.dropdown-mega .h5{
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(0,0,0, .125);
    margin: 0;
}

.dropdown-mega .list-group-item{
    font-size: 0.9rem;
    color: #405464;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0, .125);
    padding: 12px 0;
}

.dropdown-mega .list-group-item:hover{
    color: var(--primary-color);
}

/* Responsive */

@media (max-width: 991px){
    .menu_wrapper .navbar-brand img{
        width: 240px;
    }
    .navbar-collapse{
        padding-top: 25px;
    }
    .navbar-nav .nav-item{
        margin: 5px 10px;
    }

    form{
        margin: 30px 0;
    }
}